.main{
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
    
}

.add-container
{
    background-color: aliceblue;
    width: 70%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
.add-container input
{
    border: none;
    background-color:inherit;
    width: 100%;
    color: #212529;

}
.add-container>input:focus
{
   
    outline: none;
    
}


#list-field
{
    width: 70%;
    height: fit-content;
    
    
}
#list-field>div
{
    width: 100%;
    height: fit-content;
   border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 0.5rem;
    
    margin-top: 20px;
}

#list-field div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#list-field div button
{
    
    margin:  0 1rem;
    background-color: aliceblue;
    color: black;
    padding: 0 10px;
    height: 30px;
  
}
#list-field div button i
{
    font-size: large;
}

#list-field div p
{
    font-size: 1.5rem;
    margin-left: 10%;
    font-weight: bold;
    
}

#allclear-btn
{
    position: fixed;
    bottom: 0;
    right: 5%;
}


.outer
{
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    height: 4vh;
    position: fixed;
    top: 5vh;
    right: 7vw;
    cursor: pointer;
    padding: 0;
   
    

}
.inner 
{
     background-color: rgb(99, 99, 128);
    border: 1px solid black;
    border-radius: 20px;
    width: 70px;
    height: 4vh;
    
    padding:0 1rem;
    margin: 0;

   
   
}
.dark-theme
{
    background-color: rgb(52, 46, 46);
    color: white;
   
    
}

.outer-dark
{
    background-color: rgb(54, 6, 106);
}

.inner-dark
{
    float: right;
     
}

.completed{
    background-color: #c9f4a8;
    font-style: italic;

}

